:root > * {
    /* Primary color shades */

    /* 0 0 171 - Ansi Blue (4) */
    --md-primary-fg-color: rgba(0, 0, 171, 1);
    /* 0 0 245 - Ansi Bright Blue (12) */
    --md-primary-fg-color--light: rgba(0, 0, 245, 1);
    /* 73 163 176 - Ansi Cyan (6) */
    --md-primary-fg-color--dark: rgba(73, 163, 176, 1);

    /* 229 229 229 - Ansi Bright White (15) */
    --md-primary-bg-color: rgba(229, 229, 229, 1);
    --md-primary-bg-color--light: rgba(229, 229, 229, 0.7); /* -0.3 */

    /* Accent color shades */

    /* 210 45 222 - Bright Magenta (13) */
    --md-accent-fg-color: rgba(210, 45, 222, 1);
    --md-accent-fg-color--transparent: rgba(210, 45, 222, 0.1);

    /* 229 229 229 - Ansi Bright White (15) */
    --md-accent-bg-color: rgba(229, 229, 229, 1);
    --md-accent-bg-color--light: rgba(229, 229, 229, 0.7); /* -0.3 */
}

.md-typeset a:not(div.tabbed-labels a) {
    text-decoration: underline;
}

.md-footer__copyright_button {
    display: inline-block;
    width: 0.75rem;

    svg {
        vertical-align: -10%;
        fill: currentcolor;
    }
}

#github-sponsors-iframe {
    border: 0;
    border-radius: 6px;
}

#github-sponsors-iframe {
    -ms-transform: scale(0.7); /* IE 9 */
    -ms-transform-origin: 0 0;
    -moz-transform: scale(0.7); /* Firefox */
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.7); /* Opera */
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.7); /* Safari And Chrome */
    -webkit-transform-origin: 0 0;
    transform: scale(0.7); /* Standard Property */
    transform-origin: 0 0; /* Standard Property */

    margin-bottom: -0.75rem;
}
